	.row {
          width: 420px;
          margin: 700px auto;
        }
        .row ul {
          list-style:none;
          margin:0;
          padding:0;
        }
        .row ul li {
          display:inline-table; 
          cursor: pointer;       
	}
	p {
          font-size: 7px;
          color: #464646;
          padding-bottom: 10px;
        }
        #logo {
          width: 180px;
          padding: 20px;
          margin: 10px auto;
          cursor: pointer;
        }
        /* 라이트 박스 스타일 */
        #lightbox {
          position: fixed;   /* 위치 고정 */
          width:100%;  /* 너비 */
          margin: 300px auto;
          /* background-color:rgba(0,0,0,0.7);   */ /* 배경색 */
          top: 0;  /* 시작 위치 - 위쪽 끝 */
          left: 0; /* 시작 위치 - 왼쪽 끝 */
          display:none;  /* 화면에서 감추기 */
          
        }
        header {
          width: 100%;
          position: fixed;
          left: 0;
          top: 0;
          padding: 0px 10px;
          padding-bottom: 70px;
          display: flex;
          justify-content: space-between ;
          box-sizing: border-box;
          border: 1px solid #e1e1e1;
          background: #fff;
      }
        #menu ul {
          width: 80%;
          position: fixed;
          left: 10%;
          top: 120px;
          list-style: none;
          /* padding: 0 10px; */
          display: flex;
          justify-content: space-evenly;
          align-items: center;

        }

        a {
          text-decoration: none;
          font-size: 12px;
          color: #464646;
        }

      /* 라이트 박스 안의 이미지 */
        #lightbox img {
          position:absolute;  /* top, left에 의해 위치 지정 */
          top: 50%;  /* 위쪽에서 50% 부터 */
          left: 50%;  /* 왼쪽에서 50% 부터 */
          transform:translate(-50%, -50%);  /* 요소를 화면 중앙에 표시하기 위해 이동 */
          /* border:5px solid #eee; /* 이미지 테두리 */
          cursor: pointer;    
        }
        .text1 {
          position: absolute;
          top: 170px;
          left: 730px;
          font-size: 30px;
          font-weight: bold;
        }
        .text {
          width: 500px;
          text-align: justify;
          position: absolute;
          top: 270px;
          left: 730px;
          font-size: 15px;
          font-weight: bold;
          line-height: 30px;
        }
        
